venv/
.env/

.vscode/

__pycache__/
*.py[cod]
*$py.class

*.log
*.tmp
*.swp
*.swo

node_modules/
dist/

*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite