.ProcessItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 5px;
}

.toggleSwitch {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #484f58;
  border: 1px solid #30363d;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.slider::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #c9d1d9;
  border-radius: 50%;
  transition: all 0.3s ease;
}

input:checked + .slider {
  background: linear-gradient(135deg, #2ea043, #1f883d);
  border-color: #2ea043;
}

input:checked + .slider::before {
  transform: translate(18px, -50%);
  background-color: #ffffff;
}

.StageList {
  display: grid;
  grid-template-columns: repeat(
    2,
    auto
  ); /* Автоматическая ширина для колонок */
  gap: 16px; /* Отступы между элементами */
  justify-content: center; /* Центрируем элементы по горизонтали */

  padding: 0; /* Убираем лишние отступы */
}

.StageList li {
  display: flex;
  align-items: center; /* Выравниваем элементы по центру */
  gap: 2rem; /* Отступ между радио-кнопкой и текстом */
  font-size: 0.9rem;
  background-color: #21262d; /* Фон для неактивного элемента */
  border: 1px solid #30363d; /* Граница */
  border-radius: 4px; /* Скругление углов */
  padding: 8px 12px; /* Внутренние отступы */
  cursor: pointer; /* Курсор указывает на возможность взаимодействия */
  transition: background-color 0.1s ease; /* Плавная анимация при наведении */
  text-align: center; /* Выравнивание текста по левому краю */
}

.StageList li label {
  cursor: pointer; /* Курсор указывает на возможность взаимодействия */
}

.StageList li.selected {
  background-color: #2ea043; /* Фон для активного элемента */
  border-color: #2ea043; /* Цвет границы для активного элемента */
  color: #ffffff; /* Цвет текста для активного элемента */
}

input[type="radio"] {
  display: none; /* Скрываем радио-кнопку */
}
